body{
    background: whitesmoke;
    height: 100vh;
    padding: 1.5rem;
    margin: 1.5rem;
}
.main-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1.5rem;
}
.menu-list{
    border: 1px solid white;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.menu-list:hover{
    color: white;
    background: #242486;
    cursor: pointer;
}
.hero-section{
    background: #242486;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: white;
    font-weight:700;
    font-size: larger;

}
.hero-section p{
    max-width: 550px;
    font-size: 28px;
    font-weight: bold;

}
.hero-section .showmore-btn{
    display: flex;
    flex-direction: row-reverse;

}
.trends-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;
    max-width: 1000px;
    gap: 2rem;
}
.trend-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.salse-items{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.salse-items p{
    font-weight: bold;
}
.showmore-btn{
    border: 2px solid #080835;
    padding: 0.5rem 1rem 1rem 0.5rem;
    color: white;
    font-weight: 700;
    background: #080835;
}
.showmore-btn:hover{
    border: 2px solid #262697;
    background: #262697;
}
.about-section{
    background: rgb(3, 3, 102);
    background-image: url("./assets/images/about-bg.svg");
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-size: cover;
    color: white;
    padding: 1.5rem;
    
}
.about-section p{
    font-size: 24px;
    font-weight: bold;
}
.contact-section{
    background: whitesmoke;
    
}
.footer{
    background:  #020238;
    color: white;
    padding: 1.5rem;
}